* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 1500px;
    border: 0px solid #222;
    margin: 0px auto;
}

.header {
    &__body {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        font-size: 1em;
    }

    &__input {
        padding: 30px;
    }

    &__inputtext {
        background-color: white;
        color: black;
        font-size: 24px;
        border-radius: 4px;
        border: 3px solid rgb(169, 169, 169);
        padding: 5px;
        text-align: center;
    }

    &__inputbtn {
        background-color: white;
        color: black;
        font-size: 24px;
        border-radius: 4px;
        border: 3px solid rgb(169, 169, 169);
        padding: 5px;
        text-align: center;
    }

    &__showschedule {
        font-size: 22px;
    }
}

.schedule {
    &__body {
        display: flex;
        //align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__day {
        width: 100%;

        margin: 0px 10px 0px 10px;
        //min-width: 11%;
    }

    &__title {
        background-color: grey;
        color: white;
        text-align: center;
    }

    &__blocks {
        height: 100%;
        font-size: 14px;
        border: rgb(124, 124, 124) 1px solid;
        margin-bottom: 5px;
    }
}

.scheduleBlock {
    border-top: rgb(124, 124, 124) 1px solid;
}
#time {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#cabinet {
    color: blue;
}
#lesson {
    font-weight: bold;
    font-size: 18px;
}
#teacher {
    font-style: italic;
    font-size: 1em;
}
#dates {
    font-size: 1em;
}
